

h2 {
     font-family: 'Quicksand', sans-serif;
     margin-top: 25px;
     margin-bottom: 25px;
     margin-left: 7em;
}

.servico-item {

    margin: 0 auto 40px; /* Margem automática para centralizar verticalmente */
    max-width: 900px; /* Largura máxima para evitar que o bloco fique muito largo */
    padding: 20px; /* Adiciona espaçamento interno */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box; /* Inclui padding e border na largura total */
    text-align: left; /* Alinha o texto à esquerda */
    font-family: 'Quicksand', sans-serif;
}

.servico-item label {
    font-weight: bold;
     font-family: 'Quicksand', sans-serif;
}

.servico-item input[type="text"],
.servico-item textarea {
 font-family: 'Quicksand', sans-serif;
    width: calc(100% - 16px); /* Ajusta a largura para levar em conta a borda */
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.servico-item input[type="number"],
.servico-item textarea {
 font-family: 'Quicksand', sans-serif;
    width: calc(100% - 16px); /* Ajusta a largura para levar em conta a borda */
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.servico-item input[type="submit"] {
    background-color: #D4EAFF;
     font-family: 'Quicksand', sans-serif;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.servico-item input[type="submit"]:hover {
    background-color: #75b0e0;
     font-family: 'Quicksand', sans-serif;
    color: white;
}
