/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Estilo do perfil do casal */
.perfil-casal {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

/* Estilo dos títulos */
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #333;
}

/* Estilo da tabela */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo dos inputs */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

/* Estilo dos botões */
.btn-visualizar {
    background-color: #D4EAFF;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-visualizar:hover {
    background-color: #82B6E6;
    color: white;
}

.botao {
    background-color: #D4EAFF;
    font-family: 'Quicksand', sans-serif;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #75b0e0;
    color: white;
}