/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico do corpo */
body {
    background-color: #f4f4f4;
    font-family: 'Quicksand', sans-serif;
    color: #333;
}

/* Container principal do orçamento */
.budget-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo dos cabeçalhos */
h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Estilo da tabela */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table th,
table td {
    font-size: 14px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #82B6E6;
    color: #fff;
}

/* Estilo dos inputs e textarea */
input[type="text"],
textarea,
select {
    width: calc(100% - 20px);
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

/* Estilo do container flexível */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

label {
    width: 45%;
    padding-right: 10px;
    margin-bottom: 10px;
}

input {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="number"],
input[type="text"] {
    width: calc(50% - 10px);
}

#valorTotal {
    cursor: not-allowed;
    background-color: #f5f5f5;
    color: #555;
}

/* Estilo das seções do orçamento */
.budget-container2 {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.budget-container2 h4 {
    margin: 0;
    color: #343a40;
    font-size: 18px;
}

/* Estilo dos botões */
.botao {
    background-color: #82B6E6;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #0056b3;
}

/* Estilo dos selects */
select {
    appearance: none;
    background: white url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14l-4.796-5.481C1.766 5.35 2.141 4.5 2.748 4.5h10.504c.607 0 .982.85.497 1.159l-4.796 5.481a1 1 0 0 1-1.41 0z"/></svg>') no-repeat right 10px center / 12px 12px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
}

select:focus {
    outline: none;
    border-color: #94CBFF;
    box-shadow: 0 0 5px rgba(148, 203, 255, 0.5);
}