* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.perfil-casal {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #82B6E6;
    color: #fff;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

.btn-visualizar {
    background-color: #D4EAFF;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn-visualizar:hover {
    background-color: #82B6E6;
    color: white;
}
