* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f4f4f9;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.perfil-casal {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.service-card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service-sub-card {
    flex: 1 1 calc(50% - 20px); /* Two cards per row */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-sub-card h4 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.service-sub-card .form-group {
    margin-bottom: 15px;
}

.service-sub-card .form-group input[type="text"],
.service-sub-card .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.service-sub-card .form-group textarea {
    resize: vertical;
    height: 80px;
}

.btn-visualizar {
    background-color: #D4EAFF;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.btn-visualizar:hover {
    background-color: #82B6E6;
    color: white;
}