* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

.budget-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table th,
table td {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    padding: 3px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #82B6E6;
    color: #fff;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
  }
  

  label {
    width: 45%;
    padding-right: 10px; 
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  
 
  input {
    width: 50%; 
    padding: 8px; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
  }
  

  input[type="number"] {
    width: calc(50% - 10px); 
  }
  

  input[type="text"] {
    width: calc(50% - 10px); 
  }
  
  #valorTotal {
    cursor: not-allowed; 
    background-color: #f5f5f5; 
    color: #555;
    border: 1px solid #ddd; 
  }
  
  body {
    font-family: Arial, sans-serif; 
    background-color: #f9f9f9; 
  }
  


.budget-container2 {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
}

.budget-container2 h4 {
    margin: 0;
    color: #343a40;
    font-size: 18px;
}

.botao {
    background-color: #D4EAFF;
    font-family: 'Quicksand', sans-serif;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botao:hover {
    background-color: #0056b3;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

select {
    width: 90%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    color: black;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14l-4.796-5.481C1.766 5.35 2.141 4.5 2.748 4.5h10.504c.607 0 .982.85.497 1.159l-4.796 5.481a1 1 0 0 1-1.41 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
}

select:focus {
    outline: none;
    border-color: #94CBFF;
    box-shadow: 0 0 5px rgba(148, 203, 255, 0.5);
}