* {
    border: 0;
    border: none;
    margin: 0;
}

.duvida-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: 'Quicksand', sans-serif;
}

.ajuda{
    font-family: 'Quicksand', sans-serif;
       margin-left: 1em;
}

.duvida-box h2 {
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

.texto {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.btn-primary:hover {
    background-color: #0056b3;
}
