* {
    border: 0;
    border: none;
    margin: 0;
}

.duvida-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: 'Quicksand', sans-serif;
}

.ajuda{
    font-family: 'Quicksand', sans-serif;
    margin-left: 2em;
}

.duvida-box h2 {
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

.texto, .email {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.btn-primary:hover {
    background-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.question {
    cursor: pointer;
    font-weight: bold;
}

.answer {
    display: none;
    padding-top: 10px;
}

.answer.show {
    display: block;
}
.perguntas h2 {
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    padding: 35px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px rgba(1, 0, 0, 0.1);
}
