
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
}

header img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
}

nav {
    display: flex;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}


button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.duvida-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.duvida-box h2 {
    margin-bottom: 10px;
}

.texto {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

