body {
    font-family: Arial, sans-serif;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.question {
    cursor: pointer;
    font-weight: bold;
}

.answer {
    display: none;
    padding-top: 10px;
}

.answer.show {
    display: block;
}
.perguntas h2 {
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    padding: 35px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px rgba(1, 0, 0, 0.1);
}