
.checklist-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.checklist-table th, .checklist-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    color: #333;
}

.checklist-table th {
    background-color: #D4EAFF;
    font-family: 'Quicksand', sans-serif;
}


.observacao {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}


.criar-button {
    background-color: #D4EAFF;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}


.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.checklist-table td,
.checklist-table th {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.criar-button {
    display: block;
    margin: 20px auto;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}