

a {
    color: black;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: black;
}


.container {
    position: relative;
    background-image: url("/src/assets/images/background-2.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}


.conta {
    font-size: 22px;
}


.dados {
    margin-left: 20em;
}


label {
    width: 300px;
    display: inline-block;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"] {
    width: 70%;
    padding: 5px;
    border: 1px solid #ddd;
}


.cadastrar {
    width: 70%;
    padding: 10px;
    background-color: #94CBFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.cadastrar:hover {
    background-color: #319afd;
}


.error-message {
    color: red;
}

form {
     width: 500px;
     padding: 5px;
}