
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}


header {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
}

header .logo-navigation {
    display: flex;
    align-items: center;
    background-color: #D4EAFF;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2em;
}

header nav {
    display: flex;
}

header nav a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

header .user-items {
    display: flex;
    align-items: center;
    margin-left: 10em;
    color: black;
}

header .user-items img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

header .logo {
    width: 200px;
    height: auto;
    margin-bottom: 4px;
}

header .user-items a {
    color: black;
    text-decoration: none;
}

header .nomeCasal button {
    color: black;
    background-color: #D4EAFF;
    font-size: 16px;
    cursor: pointer;
}

header .nomeCasal {
    color: black;
    background-color: #D4EAFF;
    font-size: 16px;
    cursor: pointer;
}

header .login {
    color: black;
    background-color: #94CBFF;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header .login:hover {
    background-color: #75b0e0;
}
