.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.img-container {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.details {
    flex: 2;
}

.img-cabecalho {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.nomeCasal2,
.id,
.dataCasamento,
.card-body h2,
.titulo-tabela {
    font-family: 'Quicksand', sans-serif;
}

.form-group label {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.estilo,
.localizacao {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.card-body {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1000px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.titulo-tabela {
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 5px;
}

#email {
    width: 70%;
}

.form-control {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

.card.orcamento {
    border-radius: 5px;
    margin-top: 30px;
}

.card.orcamento .card-body {
    padding: 20px;
}

.card.orcamento .card-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.card.orcamento table {
    width: 100%;
    border-collapse: collapse;
}

.card.orcamento th,
.card.orcamento td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: 'Quicksand', sans-serif;
}

.card.orcamento th {
    background-color: #EFEFEF;
}

.card.orcamento tbody tr:last-child td {
    border-bottom: none;
}

.card.orcamento .btn-visualizar {
    background-color: #94CBFF;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.card.orcamento .btn-visualizar:hover {
    background-color: #75a0c3;
}

.btn-salvar,
.btn-criar,
.btn-salvar2,
.btn-remover-foto,
.btn-deletar-perfil {
    background-color: #94CBFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    transition: background-color 0.3s;
}

.btn-salvar:hover,
.btn-criar:hover,
.btn-salvar2:hover {
    background-color: #0056b3;
}

.btn-remover-foto,
.btn-deletar-perfil {
    background-color: #8B0000;
}

.btn-remover-foto:hover,
.btn-deletar-perfil:hover {
    background-color: #FF0000;
}

.details {
    flex: 1;
    text-align: center;
}

.table-wrapper {
    overflow-x: auto;
}

.form-container2 {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container2 .form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container2 label {
    display: block;
}

.custom-file-upload {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.input-file {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

select {
    width: 70%;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    color: black;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14l-4.796-5.481C1.766 5.35 2.141 4.5 2.748 4.5h10.504c.607 0 .982.85.497 1.159l-4.796 5.481a1 1 0 0 1-1.41 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
}

.imagens-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.custom-file-upload {
    border: none;
    background-color: #94CBFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.img-cabecalho {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    display: none;
}

.btn-salvar2 {
    background-color: #94CBFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    transition: background-color 0.3s;
}

.btn-salvar2:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btn-salvar2:hover:enabled {
    background-color: #0056b3;
}

select:focus {
    outline: none;
    border-color: #94CBFF;
    box-shadow: 0 0 5px rgba(148, 203, 255, 0.5);
}

.botoes {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#id {
    all: unset;
    padding: 5px;
    font-size: 14px;
}
