* {
    border: 0;
    border: none;
    margin: 0;
}


body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}


header h1 {
    font-size: 2rem;
    margin: 0;

    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #495057;
        margin-right:70px;
        margin-left:70px;

}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.05);
}

.card-body {
    background-color: #ffffff;
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #495057;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}


button.btn {
    border-radius: 8px;
    padding: 12px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.btn:hover {
    background-color:#94CBFF;
    transform: translateY(-5px);
}

button.btn:focus {
    outline: none;
}

section {
    margin-bottom: 40px;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 300px;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}




.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    margin-right:60px;
    margin-left:60px;
}

