.titulo-servico p {
    text-align: center;
    font-size: 60px;
    font-family: "Allison", cursive;
    font-weight: 400;
    font-style: normal;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.servico {
    font-family: 'Quicksand', sans-serif;
    margin-left: 2em;
    padding-top: 1em;
}

.servico-titulo p {
    font-family: "Architects Daughter", cursive;
    color: #999595;
    font-size: 20px;
}

.servico-titulo {
    padding: 0px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.pratos {
    width: 299px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-cardapio {
    width: 300px;
    height:460px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cardapio, .bolos, .doces, .bebidas, .flores {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: calc(100% - 400px);
    margin: 0 auto;
}

.texto-cardapio {
    font-family: "Architects Daughter", cursive;
    color: #999595;
}

.vector-section {
    position: absolute;
    left: 250px;
    top: 300px;
}

.vector-image {
    width: 350px;
}


