.card-img-top{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}


.text-center {
    text-align: center;
}

.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}