html {
   
    overflow-x: hidden; /* Impede a rolagem horizontal */
}


.container2{ 
    max-width: 1080px;
    margin: auto 0; /* Margem superior de 230px, centraliza horizontalmente */
    text-align: center; /* Centraliza conteúdo dentro do .container2 */
    

}

.container2 img{
    position: relative;
    left: 700px; /* Move o botão 20 pixels para a esquerda */
    top: 290px; /* Move o botão 20 pixels para cima */
    margin-top: -800px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
}
.botaoquem {
    
    top: 50%;
    left: 60%;
    transform: translate(-1%, -50%);
    padding: 15px 258px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 41px; 
    box-shadow: 2px 2px 4px rgba(0, 2, 5, 5.5); 
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
}
.botaoquem:hover {
    background-color: #e4e4e4;
}
.container3 h2 {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    font-family:cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.8);
    color: rgb(255, 255, 255); /* Cor do texto */
    margin-top: 100px; 
    margin-bottom: 150px; /* ESPAÇAMENTO ENTRE H e P */
}
.container3 {
    text-align: center; /* Centraliza o conteúdo dentro do container */
    margin-bottom: 150px; /* Adiciona margem inferior de 20px entre os boxes */
}

.container3 p {
    display: inline-block; /* Exibe o parágrafo como um bloco de linha */
    padding: 50px 100px; /* Padding: 50px superior/inferior, 100px esquerda/direita */
    margin: 0 10px; /* Margem entre os elementos */
    letter-spacing: 3px; /* Espaçamento entre as letras */
    margin-top: -30px; /* Move o botão para cima em relação ao parágrafo */
    margin-right: auto;
}

.container3 button {
    display: inline-block; /* Exibe o botão como um bloco de linha */
    background-color: #ffffff; /* Cor de fundo */
    color: rgb(0, 0, 0); /* Cor do texto */
    padding: 20px 30px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 18px; /* Borda arredondada */
    cursor: pointer; /* Altera o cursor para indicar interatividade */
    box-shadow: 2px 2px 4px rgba(0, 1, 1, 0.5); /* Sombra */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    margin-top: 50px; /* Move o botão para cima em relação ao parágrafo */
    vertical-align: top; /* Alinha o botão mais para cima */
}
.fotos, .fotos1 {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 100px; /* Adiciona um preenchimento na parte inferior de 20px */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    margin-top: 50px; /* Move o botão para cima em relação ao parágrafo */
    margin-bottom: 100px; /* Adiciona margem inferior de 20px entre os boxes */
    
}

.box, .box1, h1 {
    text-align: center; /* Centraliza o conteúdo dentro de cada box */
}

.box img, .box1 img {
    display: block; /* Remove o espaço extra abaixo da imagem */
}


.Estrutura, .Estrutura1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.boxestru img {
    width: 450px;
    text-align: center;
    margin: 50px;
}



.boxestru h1 {
    font-size: 25px; /* Tamanho da fonte do título */
    color: #333; /* Cor do texto do título */
    margin-bottom: 30px; /* Espaçamento inferior abaixo do título */
}

.boxestru p {
    font-size: 16px; /* Tamanho da fonte do parágrafo */
    color: #666; /* Cor do texto do parágrafo */
    line-height: 1.1; /* Altura da linha para melhor legibilidade */
    margin: 0; /* Remove margens padrão do parágrafo */
    text-align: center; /* Centraliza o conteúdo dentro de cada box */
    font-weight: bold; /* Peso da fonte */
}

.textoemo{
    position: relative;
    left: 300px; /* Move o botão 20 pixels para a esquerda */
    top: -150px; /* Move o botão 20 pixels para cima */ 
    
}

.partecasal img {
    position: relative;
    left: -160px; /* Move o botão 20 pixels para a esquerda */
    top: 200px; /* Move o botão 20 pixels para cima */


    
}.fundopretocominfo {
    background-color: black;
    margin: 0; /* Remove as margens padrão do corpo */
    padding: 0; /* Remove o preenchimento padrão do corpo */
    height: 100vh; /* Define a altura do corpo para ocupar 100% da altura da janela do navegador */
    width: 100%; /* Define a largura do corpo para ocupar 100% da largura da janela do navegador */
    
}

.fundopretocominfo p {
    color: rgb(255, 255, 255);
    position: relative;
    position: relative;
    left: 325px; /* Move o botão 20 pixels para a esquerda */
    top: -300px; /* Move o botão 20 pixels para cima */ 
    font-size: 25px; /* Tamanho da fonte */
}
.fundopretocominfo p1 {
    color: rgb(255, 255, 255);
    position: relative;
    position: relative;
    left: 325px; /* Move o botão 20 pixels para a esquerda */
    top: -640px; /* Move o botão 20 pixels para cima */ 
    font-size: 25px; /* Tamanho da fonte */
}
.fundopretocominfo h2 {
    margin-top: 400px;
    color: rgb(255, 255, 255);
    position: relative;
    left: 325px; /* Move o botão 20 pixels para a esquerda */
    top: -300px; /* Move o botão 20 pixels para cima */ 
    font-size: 45px; /* Tamanho da fonte */
}
.fundopretocominfo h3 {
    margin-top: 400px;
    color: rgb(255, 255, 255);
    position: relative;
    left: 325px; /* Move o botão 20 pixels para a esquerda */
    top: -670px; /* Move o botão 20 pixels para cima */ 
    font-size: 45px; /* Tamanho da fonte */
}

.infosfundoimagem {
    position: relative;
    left: 1200px; /* Move o botão 20 pixels para a esquerda */
    top: -1150px; /* Move o botão 20 pixels para cima */ 
}

.fundopretocominfo2 {
    position: relative;
    left: -130px; /* Move o botão 20 pixels para a esquerda */
    top: 350px; /* Move o botão 20 pixels para cima */ 
}

.Gastroimagens {
    display: flex; /* Ativa o flexbox */
    
}

.pola1, .pola2 {
    margin-right: 72px; /* Adiciona um espaçamento entre as imagens (opcional) */
    display: flex; /* Ativa o flexbox */
}

.pola1 img, .pola2 img {
    max-width: 100%; /* Garante que as imagens não ultrapassem o tamanho da div */
    height: auto; /* Mantém a proporção da imagem */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); /* Adiciona sombra às imagens */
    border: 1px solid #333; /* Borda sólida de 3px com cor cinza escuro (#333) */
    padding: 10px; /* Espaçamento interno para a borda */
    
}



.fimpagina p {
    font-size: 25px; /* Tamanho da fonte */
    margin: 100px; /* move o texto para baixo em 20 pixels */
    position: relative;
    left: 650px; /* Move o botão 20 pixels para a esquerda */
    top: -600px; /* Move o botão 20 pixels para cima */ 
    color: rgb(5, 5, 5); /* Cor do texto */

}
.fimpagina h1 {
    font-size: 80px; /* Tamanho da fonte */
    margin: 100px; /* move o texto para baixo em 20 pixels */
    position: relative;
    left: 650px; /* Move o botão 20 pixels para a esquerda */
    top: -530px; /* Move o botão 20 pixels para cima */ 
    color: rgb(255, 255, 255); /* Cor do texto */
    background: linear-gradient(to right, #00ccff, #028dff); /* Degrade azul claro */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Faz com que o texto adote o degrade */
    text-shadow: 2px 2px 4px rgba(60, 165, 252, 0.5); 
    text-align: left;
}

.casalfim img{
    width: 830px; /* Defina a largura desejada */
    height: auto; /* Isso manterá a proporção da imagem */

    position: relative;
    left: 50px; /* Move o botão 20 pixels para a esquerda */
    top: 350px; /* Move o botão 20 pixels para cima */ 
}


.bn button02 {
    background-color: #00bae9; /* Cor de fundo do botão */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    padding: 9px 32px; /* Espaçamento interno (altura x largura) */
    text-align: center; /* Alinhamento do texto */
   
    display: inline-block; /* Faz o botão comportar-se como um elemento de bloco */
    font-size: 20px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa (topo x direita x baixo x esquerda) */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    border-radius: 25px; /* Adiciona cantos arredondados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
    position: relative;
    left: 750px; /* Move o botão 20 pixels para a esquerda */
    top: -660px; /* Move o botão 20 pixels para cima */ 
} 


.rodafoto img{
    position: relative;
    left: -430px; /* Move o botão 20 pixels para a esquerda */
    top: -20px; /* Move o botão 20 pixels para cima */ 
}
.rodape p{
    font-size: 15px; /* Tamanho da fonte */
    position: relative;
    left: 60px; /* Move o botão 20 pixels para a esquerda */
    top: 45px; /* Move o botão 20 pixels para cima */ 
}
.rodape {
    background-color: #000000; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto do rodapé */
    text-align: center; /* Alinhamento do texto */
    padding: 20px; /* Espaçamento interno do rodapé */
    width: 100%; /* Ocupa toda a largura */
}
