
*{
    margin: 0;
    padding: 0;
    box-sizing: rder-box;
    font-family: 'Titillium Web', sans-serif;
}

html{
    scroll-behavior: smooth;
}
.rodafoto img{
    position: relative;
    left: -430px; /* Move o botão 20 pixels para a esquerda */
    top: -20px; /* Move o botão 20 pixels para cima */ 
}
.rodape p{
    font-size: 15px; /* Tamanho da fonte */
    position: relative;
    left: 60px; /* Move o botão 20 pixels para a esquerda */
    top: 45px; /* Move o botão 20 pixels para cima */ 
}
.rodape {
    background-color: #000000; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center; /* Alinhamento do texto */
    padding: 2px; /* Espaçamento interno */
    bottom: 0; /* Alinha o rodapé no fundo */
    left: 0; /* Alinha o rodapé à esquerda */
    
    
}

.bn button02 {
    background-color: #00bae9; /* Cor de fundo do botão */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    padding: 9px 32px; /* Espaçamento interno (altura x largura) */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove a decoração de texto padrão */
    display: inline-block; /* Faz o botão comportar-se como um elemento de bloco */
    font-size: 20px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa (topo x direita x baixo x esquerda) */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    border-radius: 25px; /* Adiciona cantos arredondados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
    position: relative;
    left: 710px; /* Move o botão 20 pixels para a esquerda */
    top: -400px; /* Move o botão 20 pixels para cima */ 
} 

.fimpagina p {
    font-size: 25px; /* Tamanho da fonte */
    margin: 100px; /* move o texto para baixo em 20 pixels */
    position: relative;
    left: 600px; /* Move o botão 20 pixels para a esquerda */
    top: -880px; /* Move o botão 20 pixels para cima */ 
    color: rgb(5, 5, 5); /* Cor do texto */

}
.fimpagina h1 {
    font-size: 80px; /* Tamanho da fonte */
    margin: 100px; /* move o texto para baixo em 20 pixels */
    position: relative;
    left: 600px; /* Move o botão 20 pixels para a esquerda */
    top: -810px; /* Move o botão 20 pixels para cima */ 
    color: rgb(255, 255, 255); /* Cor do texto */
    background: linear-gradient(to right, #00ccff, #028dff); /* Degrade azul claro */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Faz com que o texto adote o degrade */
    text-shadow: 2px 2px 4px rgba(60, 165, 252, 0.5); 
}

.casalfim img{
    width: 830px; /* Defina a largura desejada */
    height: auto; /* Isso manterá a proporção da imagem */

    position: relative;
    left: 55px; /* Move o botão 20 pixels para a esquerda */
    top: 85px; /* Move o botão 20 pixels para cima */ 
}

.fimpagina {
    background-color: rgb(255, 255, 255);
    margin: 0; /* Remove as margens padrão do corpo */
    padding: 0; /* Remove o preenchimento padrão do corpo */
    height: 100vh; /* Define a altura do corpo para ocupar 100% da altura da janela do navegador */
    width: 100%; /* Define a largura do corpo para ocupar 100% da largura da janela do navegador */
    margin-top: -400px;
}


.Pola2 img{
    width: 450px; /* Defina a largura desejada */
    height: auto; /* Isso manterá a proporção da imagem */

    position: relative;
    left: 675px; /* Move o botão 20 pixels para a esquerda */
    top: -448px; /* Move o botão 20 pixels para cima */ 
}

.Pola1 img{
    width: 450px; /* Defina a largura desejada */
    height: auto; /* Isso manterá a proporção da imagem */
    position: relative;
    left: 125px; /* Move o botão 20 pixels para a esquerda */
    top: 80px; /* Move o botão 20 pixels para cima */ 
}
.fundopretocominfo2 {
    background-color: rgb(0, 0, 0);
    margin: 0; /* Remove as margens padrão do corpo */
    padding: 0; /* Remove o preenchimento padrão do corpo */
    height: 700px; /* Define a altura do corpo para ocupar 100% da altura da janela do navegador */

    
}

.infosfundoimagem2 {
    position: relative;
    left: 150px; /* Move o botão 20 pixels para a esquerda */
    top: -1083px; /* Move o botão 20 pixels para cima */ 
}
.infosfundoimagem1 {
    position: relative;
    left: 380px; /* Move o botão 20 pixels para a esquerda */
    top: -60px; /* Move o botão 20 pixels para cima */ 
}
.infosfundoimagem {
    position: relative;
    left: 850px; /* Move o botão 20 pixels para a esquerda */
    top: -250px; /* Move o botão 20 pixels para cima */ 
}
.infosfundo2 p {
    color: white;
    position: relative;
    top: 180px; /* Move o botão 20 pixels para cima */ 
    font-size: 18px; /* Tamanho da fonte */
}
.infosfundo2 h3 {
    color: white;
    position: relative;
    left: 110px; /* Move o botão 20 pixels para a esquerda */
    top: 140px; /* Move o botão 20 pixels para cima */ 
    font-size: 45px; /* Tamanho da fonte */
}
.infosfundo p {
    color: white;
    position: relative;
    top: 100px; /* Move o botão 20 pixels para cima */ 
    font-size: 18px; /* Tamanho da fonte */
}
.infosfundo h2 {
    margin-top: -400px;
    color: white;
    position: relative;
    left: 110px; /* Move o botão 20 pixels para a esquerda */
    top: 120px; /* Move o botão 20 pixels para cima */ 
    font-size: 45px; /* Tamanho da fonte */
}
.fundopretocominfo {
    background-color: black;
    margin: 0; /* Remove as margens padrão do corpo */
    padding: 0; /* Remove o preenchimento padrão do corpo */
    height: 100vh; /* Define a altura do corpo para ocupar 100% da altura da janela do navegador */
    width: 100%; /* Define a largura do corpo para ocupar 100% da largura da janela do navegador */
    
}
.fundopretocominfo {
    margin-top: -400px;
}





.textoemo{
    position: relative;
    left: 300px; /* Move o botão 20 pixels para a esquerda */
    top: -370px; /* Move o botão 20 pixels para cima */ 
}
.partecasal{
    position: relative;
    left: 200px; /* Move o botão 20 pixels para a esquerda */
    top: -150px; /* Move o botão 20 pixels para cima */
}


.conteudo button01{
    background-color: #ffffff; /* Cor de fundo */
    color: rgb(0, 0, 0); /* Cor do texto */
    padding: 10px 30px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 50px; /* Borda arredondada */
    box-shadow: 2px 2px 4px rgba(0, 1, 1, 5.5); /*Sombra*/
    position: relative;
    margin: auto; /* centraliza o botão dentro do elemento pai */
    left: 70px; /* Move o botão 20 pixels para a esquerda */
    top: -60px; /* Move o botão 20 pixels para cima */
    font-size: 28px; /* Tamanho da fonte */ 
    margin: 60px 20px; /* Adiciona margem à direita de cada imagem para criar espaço entre elas */
}

.conteudo button00{
    background-color: #ffffff; /* Cor de fundo */
    color: rgb(0, 0, 0); /* Cor do texto */
    padding: 10px 30px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    box-shadow: 2px 2px 4px rgba(0, 1, 1, 5.5); /*Sombra*/
    position: relative;
    margin: auto; /* centraliza o botão dentro do elemento pai */
    left: 450px; /* Move o botão 20 pixels para a esquerda */
    top: -10px; /* Move o botão 20 pixels para cima */
    font-size: 28px; /* Tamanho da fonte */ 
}

.Estrutura {
    text-align: center; /* Centraliza o conteúdo horizontalmente */}
.estr {
    display: inline-block; /* Faz com que as imagens fiquem lado a lado */
    margin: 50px 10px; /* Adiciona margem à direita de cada imagem para criar espaço entre elas */

}
.estr img {
    width: 350px; /* Define a largura das imagens */
    height: 250px; /* Define a altura das imagens */
} 

.iestru p {
    font-size: 15px; /* Define o tamanho da fonte como 20 pixels */
    text-align: center;
    position: relative;
                left: -425px; /* Move o botão 20 pixels para a esquerda */
                top: -100px; /* Move o botão 20 pixels para cima */
}
.iestru4 p {
    font-size: 15px; /* Define o tamanho da fonte como 20 pixels */
    text-align: center;
    position: relative;
                left: -425px; /* Move o botão 20 pixels para a esquerda */
                top: -85px; /* Move o botão 20 pixels para cima */
}
.iestru1 p {
    font-size: 15px; /* Define o tamanho da fonte como 20 pixels */
    text-align: center;
    position: relative;
                left: -50px; /* Move o botão 20 pixels para a esquerda */
                top: -150px; /* Move o botão 20 pixels para cima */
}
.iestru2 p {
    font-size: 15px; /* Define o tamanho da fonte como 20 pixels */
    text-align: center;
    position: relative;
                left: 320px; /* Move o botão 20 pixels para a esquerda */
                top: -200px; /* Move o botão 20 pixels para cima */
}
.iestru3 p {
    font-size: 15px; /* Define o tamanho da fonte como 20 pixels */
    text-align: center;
    position: relative;
                left: 320px; /* Move o botão 20 pixels para a esquerda */
                top: -215px; /* Move o botão 20 pixels para cima */
}


.imagens {
    text-align: center; /* Centraliza o conteúdo horizontalmente */}
.imagem {
    display: inline-block; /* Faz com que as imagens fiquem lado a lado */
    margin: 0 30px; /* Adiciona margem à direita de cada imagem para criar espaço entre elas */}
.imagem img {
    width: 200px; /* Define a largura das imagens */
    height: px; /* Define a altura das imagens */
}  
.conteudo h5 {
    text-align: center;
    font-size: 20px; /* Tamanho da fonte */
    font-family:cursive;
    margin: 100px; /* move o texto para baixo em 20 pixels */}
.completo, p br {
        padding: 150px, 200;
        margin-left: 60px; /* MOVENTO PRA DIREITA*/
        letter-spacing: 4px; /* PARA DAR ESPAÇAMENTO ENTRE AS LETRAS*/   }
.completo1 {
        position: relative;
        left: 329px; /* Move o botão 20 pixels para a esquerda */
        top: -46px; /* Move o botão 20 pixels para cima */   }
.completo2 {
        position: relative;
        left: 540px; /* Move o botão 20 pixels para a esquerda */
        top: -69px; /* Move o botão 20 pixels para cima */ }     
.completo3, p br {
        position: relative;
        left: 840px; /* Move o botão 20 pixels para a esquerda */
        top: -115px; /* Move o botão 20 pixels para cima */   }
.completo4, p br {
        padding: 150px, 200;
        margin-left: 60px; /* MOVENTO PRA DIREITA*/
        letter-spacing: 4px; /* PARA DAR ESPAÇAMENTO ENTRE AS LETRAS*/}
.completo5 {
        position: relative;
        left: 329px; /* Move o botão 20 pixels para a esquerda */
        top: -46px; /* Move o botão 20 pixels para cima */    }
.completo6 {
        position: relative;
        left: 625px; /* Move o botão 20 pixels para a esquerda */
        top: -89px; /* Move o botão 20 pixels para cima */}        
.completo7  {
        position: relative;
        left: 840px; /* Move o botão 20 pixels para a esquerda */
        top: -115px; /* Move o botão 20 pixels para cima */}

    .completo8 {
            position: relative;
            left: 60px; /* Move o botão 20 pixels para a esquerda */
            top: -88px; /* Move o botão 20 pixels para cima */    }
    .completo9 {
            position: relative;
            left: 390px; /* Move o botão 20 pixels para a esquerda */
            top: -111px; /* Move o botão 20 pixels para cima */}        
    .completo10  {
            position: relative;
            left: 805px; /* Move o botão 20 pixels para a esquerda */
            top: -133px; /* Move o botão 20 pixels para cima */}
    
        .completo11 {
                position: relative;
                left: 15px; /* Move o botão 20 pixels para a esquerda */
                top: -88px; /* Move o botão 20 pixels para cima */    }
        .completo12 {
                position: relative;
                left: 442px; /* Move o botão 20 pixels para a esquerda */
                top: -111px; /* Move o botão 20 pixels para cima */}        
        .completo13  {
                position: relative;
                left: 830px; /* Move o botão 20 pixels para a esquerda */
                top: -133px; /* Move o botão 20 pixels para cima */}


.conteudo button{
    background-color: #ffffff; /* Cor de fundo */
    color: rgb(0, 0, 0); /* Cor do texto */
    padding: 20px 30px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 18px; /* Borda arredondada */
    cursor: pointer; /* Altera o cursor para indicar interatividade */
    box-shadow: 2px 2px 4px rgba(0, 1, 1, 5.5); /*Sombra*/
    position: relative;
    left: 800px; /* Move o botão 20 pixels para a esquerda */
    top: -130px; /* Move o botão 20 pixels para cima */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */

}

.container3 h2 {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    font-family:cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.8);
    color: rgb(255, 255, 255); /* Cor do texto */
    margin-top: -70px; 
    margin-bottom: 70px; /* ESPAÇAMENTO ENTRE H e P */
}

.conteudo p {
    padding: 50px 100;
    margin-left: 110px; /* MOVENTO PRA DIREITA*/
    letter-spacing: 3px; /* PARA DAR ESPAÇAMENTO ENTRE AS LETRAS*/
    
}

.infotext{
    font-weight: bold; /* Peso da fonte */
}





.textoimagem{
    position: absolute;
    top: 58%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); /* Cor do texto */
    font-size: 30px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    font-family:cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.8);

    }

    .casal2 {
        width: 500px; /* Define a largura da imagem */
        height: 250px; /* Define a altura da imagem (opcional) */
        position: absolute; /* Torna a imagem posicionada absolutamente */
        right: 80px; /* Move a imagem 20 pixels para a direita */
        
    }


.criar-conta {
    
    
    padding: 10px 10px;
    margin-top: -198px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    
}

.botaoquem {
    
    top: 50%;
    left: 60%;
    transform: translate(-1%, -50%);
    padding: 15px 258px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 41px; 
    box-shadow: 2px 2px 4px rgba(0, 2, 5, 5.5); 
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
}
.botaoquem:hover {
    background-color: #e4e4e4;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.container1{ 
    max-width: 1080px;
    margin: 0 auto;
    
}
.container2{ 
    max-width: 1080px;
    margin: 1 auto;
    margin-top: -230px;

}

.container2 img{
    position: relative;
    left: 700px; /* Move o botão 20 pixels para a esquerda */
    top: 290px; /* Move o botão 20 pixels para cima */
    margin-top: -800px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
}

.section img {
    margin-top: 255px; 
}

.logo img{

    width: 400px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    position: relative;
    left: auto; /* Move o botão 20 pixels para a esquerda */
    top: -180px; /* Move o botão 20 pixels para cima */
    
}
.logo{
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}


header{
    background-image: url("/img/background-00.jpg");
    height: auto;
    padding: 300px;
    
    background-size: cover;
    
   

}

.menu{
    width: 80%;
    margin: 0 auto;
    display: block;
    transform: translateY(-100px);
    text-align: right;
}

.menu nav a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    padding-right: 30px;
    padding-bottom: 8px;
    position: relative;
}
.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg , #0066ff, #95f0fc);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.menu nav a:hover{
    color: #afafaf;
}

.social{
    width: 25%;
    transform: translateY(-100px);
    
}

.social button{
    width: 180px;
    height: 40px;
    margin-right: 260px;
    color: rgb(255, 255, 255);
    font-size: 18px; /* TAMANHO DA FONTE  */
    font-weight: bold; /* FONTE COM NEGRITO */
    border: 0;
    cursor: pointer;
    background-color:lightskyblue;
    border-radius: 50px;
    transition: transform 0.5s;
}


.social button i{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

.social button:hover{
    transform: scale(0.9);
}

/* estilização do conteúdo */

section{
    padding: 90px 17%;
    border-bottom: 1px solid #ccc;
}

section h2{
    font-size: 2em;
    margin-bottom: 55px;
}

section p{
    font-size: 20px;
}




#btn-menu,
#btn-menu-close{
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1110px) {
    .menu,
    .social{
        display: none;
    }

    .logo{
        width: 100%;
    }

    #btn-menu,
    #menu-mobile{
        display: block;
    }

    #menu-mobile.active{
        height: calc(100vh - 77px);
        visibility: visible;
    }

        
    }
    .barra1 { 
        width: 180px;
        height: 100px;
        margin-right: 260px;
        border: 0;
        cursor: pointer;
        background-color:rgb(106, 175, 218);
    }