.duvida-box {
    width: 100%; /* Largura da tela */
    max-width: 1500px; /* Largura máxima */
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.duvida-box h2 {
    margin-top: 0;
    background-color: #82B6E6;
    padding-bottom: 10px; /* Espaçamento inferior */
}

.duvida-box input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.titulo {
    font-family: quicksand, sans-serif;
    margin-left: 80px;
    margin-bottom: -3%;
}

.texto {
    font-family: quicksand, sans-serif;
    height: 300px;
}

.img-cabecalho {
    width: 100%;
    margin-bottom: -3%;
}

.card {
    width: 90%;
    margin: 50px auto;
    
}

.card-header {
    background-color: #94CBFF;
    font-family: quicksand, sans-serif;
}

.btn {
    margin-top: -5%;
    margin-left: 75px;
    background-color: #94CBFF;
    padding-left: 5%;
    padding-right: 5%;
}