.perfil-casal {
    background-color: #D1E5F4;
    text-align: center;
    padding: 20px;
    padding-bottom: 10%;
    border-radius: 9%;
    margin-left: 8%;
}
.orcamento {
    background-color: #82B6E6; 
    padding: 20px;
}
.img-cabecalho {
    width: 100%;
    margin-bottom: -3%;
}

.nomeCasal {
    font-family: "Allison", cursive;
    font-weight: 400;
    font-style: normal;    
    padding: 15%;
}

.card-body {
    background-color: #D1E5F4;
    text-align: center;
    padding: 20px;
    padding-bottom: 10%;
    border-radius: 9%;
    margin-left: 8%;
}

.titulo-tabela {
    background-color: #DBD8D8;
}